<!DOCTYPE html>

<html lang="en" class="no-translate" translate="no">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit=no>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">; 

        <title>Finance Tracker App</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-9uslHqgT+0nQyJYqfNQ+ZtH2L+qj8V+u5m5X5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z">
        
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,20" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-VK2zcv2h3P0CAzCn6Oo9DwJ4oV0iAaL06Z9M76e4V1p8dQFV8Gc9ZqQd7H3l5mCf7lS1Yy7y7y7y7y7y7y7y7y7y7y7" crossorigin="anonymous">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js" integrity="sha512-9uslHqgT+0nQyJYqfNQ+ZtH2L+qj8V+u5m5X5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-9uslHqgT+0nQyJYqfNQ+ZtH2L+qj8V+u5m5X5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z5Z" crossorigin="anonymous"></script>

        <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}">

    </head>

    <body>

        {% block content %}
        
        {% endblock content %}

    </body>

</html>